<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Language" content="ko">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<body>
    <meta name="press release" content="">
    <div align="center">
        <table class="MsoNormalTable" style="font-family: 맑은 고딕" cellPadding="0" width="550" border="0">
            <tr>
                <td style="padding: 0.75pt" width="550" align="left">
                    <font size="2">
                    안녕하십니까?<br>
                    OOOOOO(주) OOO팀 OOO입니다.<br>
                    <br>
					당사에서 ~~~~~~~ 했습니다.<br>
					<br>
					이에 보도자료를 송부드리니, 아래 본문을 참고하여 주시길 바랍니다.<br>
					<br>
					감사합니다.</font><p><b><font size="2"><font color="#FF0000">* 
					보도자료 관련 이미지 : </font> 
					<font color="#0000FF">[다운로드]</font></font></b></p>
					<p>
					<span style="font-family: '맑은 고딕'">
                        <font size="2">
                        . 제품문의 : OOO 매니저<br>
                        . Tel : 02-000-0000<br>
                        . MP : 010-0000-0000<br>
                        . e-mail : xxx@도메인</font></span></p>
					<div class="MsoNormal" style="text-align: center" align="center">
                        <hr align="center" SIZE="2" width="100%">
                    </div>

                    <p><font size="2">
                    <!-- 본문 (사용자 입력 내용) -->
                    </font>
                    <font size="2" style="font-family: '맑은 고딕';">
                        {{ body_content|safe }}</font></p>
					<div class="MsoNormal">
                        <p>
                        <style="font-size: 10pt; font-family: 맑은 고딕">
						<font size="2">* 공식유통사 - 제이씨현시스템(주) 1577-3367 :
						<a style="color: #0000FF; text-decoration: underline" target="_blank" href="http://www.jchyun.com">
						www.jchyun.com</a><br>
						* 고객지원 사이트 :
						<a style="text-decoration: underline; color: #0000FF" target="_blank" href="https://www.csinnovation.co.kr">
						www.csinnovation.co.kr</a></span></font></p>
                        <hr align="center" SIZE="2" width="100%">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html> 