<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Language" content="ko">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<body>
    <meta name="press release" content="">
    <div align="center">
        <table class="MsoNormalTable" style="font-family: 맑은 고딕; color: rgb(51,51,51)" cellPadding="0" width="550" border="0">
            <tr>
                <td style="padding: 0.75pt" width="550" align="left">
                    <font size="2">
                    안녕하십니까?<br>
                    제이씨현시스템(주) OOO팀 OOO입니다.<br>
                    <br>
					당사에서 ~~~~~~~ 했습니다.<br>
					<br>
					이에 보도자료를 송부드리니, 아래 본문을 참고하여 주시길 바랍니다.<br>
					<br>
					감사합니다.</font><p>
					<b style="color: rgb(51, 51, 51); font-family: '맑은 고딕'; font-size: 12px;">
                    <span lang="EN-US" style="font-size: 10pt; color: red;">*</span></b><font size="2"><b style="color: rgb(51, 51, 51); font-family: '맑은 고딕'; "> </b>
					</font>
                    <b style="color: rgb(51, 51, 51); font-family: '맑은 고딕'; font-size: 12px;">
                    <span style="font-size: 10pt; color: red;">보도자료 관련 이미지&nbsp;</span><font size="2"><b style="color: rgb(51, 51, 51); font-family: '맑은 고딕'; "> </b>
					</font>
                    <span lang="EN-US" style="font-size: 10pt;">:&nbsp;
                    <a target="_blank" href="#">[<span lang="EN-US">다운로드</span>]</a>
                    </span></b></p>
					<p>
					<span style="color: rgb(51, 51, 51); font-family: '맑은 고딕';">
                        <font size="2">.
                        제품문의 : OOO 매니저<br>
                        .
                        Tel : 02-707-0000<br>
                        .
                        MP : 010-0000-0000<br>
                        .
                        e-mail :
					<a style="text-decoration: underline; color: #0000FF" href="mailto:ooo@jch.kr">ooo@jch.kr</a>
					</font>
                        </span></p>
					<div class="MsoNormal" style="text-align: center" align="center">
                        <hr align="center" SIZE="2" width="100%">
                    </div>

                    <p><font size="2">
                    <!-- 본문 (사용자 입력 내용) -->
                    </font>
                    <font size="2" style="color: rgb(51, 51, 51); font-family: '맑은 고딕';">
                        {{ body_content|safe }}</font></p>

                    <div class="MsoNormal" align="center" style="text-align: center">
                        <p style="text-align: left">
                        <span lang="EN-US" style="font-size: 10pt; font-family: 맑은 고딕; color: rgb(51,51,51)">
                        * 공식유통사 - </span>
                        <span style="font-size: 10pt; font-family: 맑은 고딕; color: rgb(51,51,51)">
                        제이씨현시스템<span lang="EN-US">(</span>주<span lang="EN-US">) 
                        1577-3367 : 
						<a target="_blank" style="text-decoration: underline; color: #0000FF" href="http://www.jchyun.com/">www.jchyun.com</a> <br>
                        * </span>고객지원<span lang="EN-US"> 사이트 :
                        </span></span>
                        <span style="font-size:10.0pt; font-family:맑은 고딕; color:#333333" lang="EN-US">
						<a style="color: #0000FF; text-decoration: underline; text-underline: single" href="https://www.csinnovation.co.kr">https://www.csinnovation.co.kr</a></span><font size="2">
						</font>
                        </p>
                        <hr align="center" SIZE="2" width="100%">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html> 